.BannerTitle{
    color: var(--purple, #6880FF);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ButtonSectionBanner{
    width: 130px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #000;
    background: var(--purple, #6880FF);
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.BannerSectionTexts{
    width: 320px;
    height: 277px;
    display: flex;
    flex-wrap: wrap;
}

.BannerSection{

    padding: 70px 0px 0px;
    display: flex;
    justify-content: center;
    gap: 124px;
}